   <!--  footer section end -->
      <!-- copyright section start -->
{% load static %}

      <div class="copyright_section">
        <div class="container">
           <div class="social_icon">
              <ul>
                 <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                 <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                 <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                 <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
              </ul>
           </div>
<!--           <p class="copyright_text"><a href="https://html.design"></a></p>-->
        </div>
        <!-- copyright section end -->